[Unit]
Description=Rubulex
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --rm -p 4567:80 --name rubulex rubulex
ExecStop=/usr/bin/docker stop -t 2 rubulex

[Install]
WantedBy=local.target

